apiVersion: v1
kind: Service
metadata:
  name: order
spec:
  type: {{ .Values.service.type }}
  selector:
    app: order
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
