apiVersion: apps/v1
kind: Deployment
metadata:
  name: application
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: application
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
        - name: application
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.targetPort }}
