replicaCount: 2

image:
  repository: narasimha.azurecr.io/patient-service
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3003

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  - name: PORT
    value: "3003"
